doctype html
html(lang='en', data-ng-app='solrpress')
  head
    title SolrPress brunch skeleton
    link(rel='stylesheet', href='css/app.css')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    meta(charset='utf-8')
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .container
        a.navbar-brand(href='.') Angular
          i.icon.icon-heart.icon-rotate-90.icon-fw
          |  APIs =
          strong  SolrPress
        ul.nav.navbar-nav
          li
            a(href='#/walkthrough')
              i.icon.icon-info-circle
              |  Walkthrough
          li.divider
          li
            .navbar-text Demo:
          li
            a(href='#/todo')
              i.icon.icon-list
              |  To do list
          li
            a(href='#/authentication')
              i.icon.icon-sign-in
              |  Authentication
        ul.nav.navbar-nav.navbar-right
          li
            a(href='https://github.com/dynamicguy/solrpress')
              i.icon.icon-github
              |  Source code on GitHub

    .loading-indicator(ng-show='$root.loading')
    .error(ng-repeat='error in $root.errors', ng-cloak)
      strong {{ error.message }}
      small.pull-right Error {{ error.status }}

    main.container(data-ng-view)

    script(src='js/vendor.js')
    script(src='js/app.js')
